[submodule ".vim/bundle/minibufexplorer"]
	path = .vim/bundle/minibufexplorer
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
    ignore = all
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/recover"]
	path = .vim/bundle/recover
	url = https://github.com/chrisbra/Recover.vim.git
    ignore = dirty 
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "/Users/wfriedl/.vim/bundle/Command-T"]
	path = /Users/wfriedl/.vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
